<div class="flex flex-col items-center py-4">
  <div
    class="w-4/6 bg-white border border-gray-200 rounded-lg shadow flex flex-col items-center"
  >
    <div class="w-4/5 mb-4">
      <div class="flex flex-col">
        <div
    class="relative flex flex-col items-center bg-white bg-clip-border shadow-3xl shadow-shadow-500 p-3"
  >
          <div class="mt-2 w-full mb-4">
            <h4 class=" text-xl font-bold text-navy-700">Patient's Name</h4>
            <div class="mt-2 text-base text-gray-600">
              <%= @appointment.first_name %> <%= @appointment.last_name %>
            </div>
          </div>
          <div class="border-t-2 border-gray-700 w-full mb-8"></div>
          <div class="grid grid-cols-2 gap-4 w-full">
            <div
        class="flex flex-col justify-center rounded-2xl bg-gray-50 bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500"
      >
              <p class="text-sm text-gray-600">Street Address</p>
              <p class="text-base font-medium text-navy-700">
                <%= @appointment.street_address %>
              </p>
            </div>
            <div
        class="flex flex-col justify-center rounded-2xl bg-gray-50 bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500"
      >
              <p class="text-sm text-gray-600">Phone No.</p>
              <p class="text-base font-medium text-navy-700">
                <%= @appointment.phone_no %>
              </p>
            </div>
            <div
        class="flex flex-col items-start justify-center rounded-2xl bg-gray-50 bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500"
      >
              <p class="text-sm text-gray-600">City</p>
              <p class="text-base font-medium text-navy-700">
                <%= @appointment.city %>
              </p>
            </div>
            <div
        class="flex flex-col items-start justify-center rounded-2xl bg-gray-50 bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500"
      >
              <p class="text-sm text-gray-600">Date of Birth</p>
              <p class="text-base font-medium text-navy-700">
                <%= @appointment.date_of_birth %>
              </p>
            </div>
            <div
        class="flex flex-col items-start justify-center rounded-2xl bg-gray-50 bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500"
      >
              <p class="text-sm text-gray-600">Appointment Date</p>
              <p class="text-base font-medium text-navy-700">
                <%= @appointment.appointment_date %>
              </p>
            </div>
            <div
        class="flex flex-col items-start justify-center rounded-2xl bg-gray-50 bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500"
      >
              <p class="text-sm text-gray-600">Appointment Time</p>
              <p class="text-base font-medium text-navy-700">
                <%= @appointment.appointment_time %>
              </p>
            </div>
            <div
        class="flex flex-col items-start justify-center rounded-2xl bg-gray-50 bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500"
      >
              <p class="text-sm text-gray-600">Doctor's name</p>
              <p class="text-base font-medium text-navy-700">
                <%= @appointment.doctor.user.name %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <% if current_user.userable_type == 'Receptionist' %>
        <div class="w-4/5 mb-4">
          <%= link_to 'Edit', edit_appointment_path(@appointment), class: "inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 mx-4", method: :get %>
          <%= button_to 'Destroy', appointment_path(@appointment), class: "inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 mx-4 mt-6", method: :delete %>
        </div>
      <% end %>
  </div>
</div>
